body{
background-color: rgb(122, 99, 204);
}

nav{
margin-left: 5%;   
font-size: 30px;
}

a{

font-size: 20px;
text-decoration: none;
color: rgb(255, 255, 255);
border: 1px solid black;
padding: 4px;
background-color: rgb(54, 2, 82);
}

h1{
text-align: center;
font-size: 50px;
color: white;
}

#images{
text-align: center;
background-color: rgb(181, 170, 221);
padding: 2% 5% 2% 5%;
margin-left: 5%;
margin-right: 5%;
}

img{
    margin-right: 30px;
}

#Intro{
margin-left: 5%;
margin-right: 5%;
font-size: 20px;

color: white;
}

footer{
margin-top: 3%;
margin-bottom: 3%;
margin-left: 5%;
font-size: 20px;
color: rgb(255, 255, 255);
text-decoration: none;
}
