*{
margin: 0;
padding: 0%;
}
header #gif{
        transition-timing-function:unset;
        transition-duration: 2s;
}

header #gif:hover{
transform: translate(600px, 400px)
            scale(3);
}

body{
background-color: rgb(122, 99, 204);
}

header{
    background-color: rgb(137, 216, 238);
border: 3px solid black;

display: flex;
flex-direction:row;
flex-wrap: nowrap;
justify-content:space-between;

  font-family: "Bungee", sans-serif;
  font-weight: 200;
  font-style: normal;


}

header h1{
   margin-left: 13%;
}

nav{
margin-right: 3%;

font-size: 30px;
}


#animationFadeIn{
            animation-name: animation;
 animation-timing-function:ease;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

header img{
    margin-left: 5%; 
    margin-top: 1%;
    margin-bottom: 1%;

        border: 3px solid black;
}

.pages a{  
font-size: 20px;
text-decoration: none;
color: rgb(255, 255, 255);
border: 1px solid black;
padding: 4px;
background-color: rgb(54, 2, 82);
}

a{
    text-decoration: none;
}

h1{
  text-align: center;
    margin-top: 5%;
font-size: 50px;
color: rgb(54, 2, 82);
}

h2{
margin-left: 5%;
font-size: 40px;
color: white;

  font-family: "Bungee", sans-serif;
  font-weight: 200;
  font-style: normal;
}

img{
  border: 3px solid black;
}

#image{
text-align: center;
transition: 1s;

}

#image:hover{
  margin-left: 5%;
  margin-right: 5%;
  background-color:rgb(181, 170, 221);
  padding: 2% 5% 2% 5%;
  height: 130%;
  margin:auto;
}

#linkOne h3{
 margin-left: 5%;   
 margin-right: 5%;
text-align: 15px;
text-decoration: none;
font-size: 30px;
background-color: rgb(54, 2, 82);
color: white;
}

#foods h2{
    margin-top: 5%;
}

h4{
margin-left: 5%;
margin-right: 5%;
font-size: 20px;
margin-bottom: 3%;

color: white;
}

footer{
        background-color: rgb(137, 216, 238);
        margin-left: 0%;
        margin-right: 0%;
        padding: 40px;
        margin-bottom: 0%;
        border: 3px solid black;
        margin-top: 5%;
}

footer{
text-align: center;
font-size: 25px;
color: rgb(54, 2, 82);
text-decoration: none;
}

footer a{
font-size: 25px;
text-decoration: none;
color: rgb(255, 255, 255);
border: 1px solid black;
background-color: rgb(54, 2, 82);
}


  @keyframes animation{
    from{
        opacity: 0%;
    }

    to{
        opacity: 100%;
    }
  }

